bg-pink{
    background-color: rgb(227, 208, 208);
}

.poster{
    width:300px;
    height: 400px;
    object-fit: cover;
}
.hide-text {
    width: 100%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }
  
  .hide-text:hover {
     white-space: unset;
     text-overflow: unset;
  }